.stone-button {
    border: none;
    outline: none;
    
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    
    padding: 0.5rem;
    
    background-color: #555555;
}

.stone-button:hover {
    border: 0.09rem solid white;
    color: black;
}

@media only screen and (min-width: 1920px)  {
    .stone-button {
        font-size: 1.5rem;
        letter-spacing: 3px;
        
        padding: 0.5rem;
    }
    
    .stone-button:hover {
        border: 1.2rem solid white;
    }
}