@import url("/css/fonts.css");


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    background: black;
}

h1 {
    font-family: medieval;
    color: white;
}

#resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
    
    width: 90%;
    height: 90%;
    
    overflow-y: auto;
}

.resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: calc(100% - 0.2rem);
    height: calc(100% - 0.2rem);
    
    background: white;
    
    border: 0.1rem solid transparent;
    border-radius: 1rem;
}

.resource:hover {
    border: 0.1rem solid gray;
}

.resource .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 80%;
    height: 80%;
}

.resource .inner img {
    width: 100%;
    height: auto;
    max-height: 80%;
}

.resource .inner a {
    color: black;
    font-size: 0.4rem;
    
    text-decoration: underline;
    text-decoration-color: orange;
	-webkit-text-decoration-color: orange;
}

.resource .inner a:hover {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 40px;
    }
}