@import url("animations.css");
@import url("fonts.css");


* {
    box-sizing: border-box;

    scrollbar-width: none;
    scrollbar-color: #000000 transparent;
}

*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0.1rem;
}

:root {
    --menu-width: 60%;
    --body-background-color: 135, 135, 135;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: black;

    width: 100dvw;
    height: 100dvh;
}

#loader > div {
    width: 75px;
    aspect-ratio: 1; 
    display: grid;
}

#loader > div::before,
#loader > div::after {
    content: "";
    grid-area: 1/1;
    width: 35px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px #fff inset;
    filter: drop-shadow(40px 40px 0 #fff);
    animation: l8 2s infinite alternate;
    color: white;
}

#loader > div::after {
    margin: 0 0 0 auto; 
    filter: drop-shadow(-40px 40px 0 #fff);
    animation-delay: -1s;
}

#loader > span {
    color: white;
    font-family: "Montserrat";
}

html, body {
    width: 100%;
}

body {
    position: relative;
    overflow-y: hidden;

    min-height: 100%;
    margin: 0;

    background-color: rgb(var(--body-background-color));
    font-family: "Montserrat";
}

body main {
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 5rem;

    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    padding: 1rem 1rem;

    background-color: #1a1a1a;

}

header #header-logo {
    background-image: url("../img/drawing_logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 7rem;
    aspect-ratio: 16/9;

    pointer-events: none;
}

body main, body header, body footer {
    opacity: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    width: 100%;
    min-height: 100dvh;
}

.section .section-title {
    position: relative;

    width: fit-content;
    font-size: 2rem;
}

.section .section-title::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);

    width: 20rem;
    height: 2px;

    background-color: black;
}

.section .section-content {
    flex: 1 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*

MAIN

*/

#my-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    
    padding: 1rem;
    
    width: 100%;
    height: 100dvh;

    background-image: url("../img/description_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#my-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

#my-info #description {
    display: flex;
    flex-direction: column;
    
    width: 40%;
}

#my-info #description #name {
    font-family: medieval;
    font-size: 3rem;
    color: white;
}

#my-info #description #resume {
    margin-top: 0.5rem;

    font-size: 1rem;
    color: white;
    word-wrap: break-word;
}

#my-info #social-networks {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.social-network {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 50%;
    border: none;
    
    width: 3.5rem;
    aspect-ratio: 1;
    
    padding: 0.3rem;
    
    cursor: pointer;
}

.social-network:hover {
    border: 0.1rem solid white;
}

.linkedin-network {
    background-image: url("../img/linkedin_icon.jpeg");
}

.github-network {
    background-color: black;
    background-image: url("../img/github_icon.png");
}

.instagram-network {
    background-image: url("../img/instagram_icon.png");
}

#picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../img/main_repr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 35rem;

    aspect-ratio: 1;
}

/*
    ABOUT ME SECTION
*/

#about-me .section-content {
    gap: 5rem;
}

#about-me .section-content #about-me-picture {
    width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;

    background-image: url("../img/me.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#about-me #info {
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 40%;
    height: fit-content;
}

#about-me #info::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: 0;

    width: 60%;
    height: 3px;

    background-color: black;
}

#about-me #info #my-bio {
    font-size: 1.2rem;
    color: white;
    text-align: justify;
    
    padding-top: 2rem;
}


/*
    SKILLS SECTION
*/

#skills {
    width: 100vw;
    height: 100dvh;
}

#skills .section-content {
    flex-direction: row;
    
    width: 100%;
    height: 100%;
}

#skills .section-content #skills-grid {
    display: grid;
    grid-template-columns: 13rem 13rem 13rem;
    gap: 2rem;
}

#skills .section-content #skills-grid .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: lightgray;
    border: none;

    aspect-ratio: 1;

    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

#skills .section-content #skills-grid .skill i {
    color: #666666;

    font-size: 2rem;
}

#skills .section-content #skills-grid .skill label {
    color: #666666;

    font-size: 1rem;
    text-align: center;
}

/*
    STACKS SECTION
*/

#stacks {
    position: relative;
}

#stacks .section-content #stacks-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;

    gap: 1rem;
    width: 60dvw;
    height: 70dvh;
    
    overflow-y: auto;
}

#stacks .section-content #stacks-list .stack {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 3px 3px 10px #bebebe,
                  -3px -3px 10px #ffffff;

    cursor: pointer;
}

#stacks .section-content #stacks-list .stack:hover {
    box-shadow: 3px 3px 10px #444444,
                  -3px -3px 10px rgb(64, 64, 64);
}

#stacks .section-content #stacks-list .stack .stack-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    opacity: 0;

    font-family: "Montserrat";
    font-size: 1rem;

    color: black;

    transition: opacity 1s;
}

#stacks .section-content #stacks-list .stack:hover .stack-info {
    opacity: 1;
}

#stacks .section-content #stacks-list .stack .stack-info .info {
    display: flex;
    gap: 0.5rem;
}

#stacks .section-content #stacks-list .stack .stack-info .info i {
    font-size: 1.20rem;

    color: #666666;
}

/*
    PROJECTS SECTION
*/

#projects .section-content {
    flex-direction: column;
    
    padding: 2rem;
    
    width: 100dvw;
    height: 100dvh;
}

#projects-list {
    display: grid;
    grid-template-columns: 17rem 17rem 17rem;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;

    justify-content: center;
    
    height: 100%;
    width: 80%;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 1;

    border-radius: 50%;
}

.project .project-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;

    width: 100%;
    height: 100%;

    padding: 1.5rem;
}

.project .project-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project .project-info-link {
    position: absolute;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    border-radius: inherit;

    opacity: 0;

    backdrop-filter: blur(5px) brightness(70%);
}

.project .project-info-link button {
    font-size: 1rem;
    color: black;
    
    background-color: transparent;
    border: 0.1rem solid black;
    border-radius: 1rem;

    cursor: pointer;
}

/*.project:after {
    position: absolute;
    content: "";
    
    width: 100%;
    height: 100%;
    background: url("../img/project_moldure.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}*/

.project:hover .project-info-link {
    opacity: 1;
}
/*
    PROJECT DETAILS
*/

#project-details {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    
    z-index: 10;
    
    width: 100dvw;
    height: 100dvh;
    
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

#project-details #visual-info {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

#project-details #visual-info #logo {
    width: 70%;
    height: auto;
}

#project-details #other-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 50%;
    height: 100%;

    overflow-y: auto;
    
    font-size: 1.25rem;
    color: white;
}

#project-details #other-info #basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    
    width: 100%;
    
    padding: 1rem;
    
    color: white;
}

#project-details #other-info #basic-info .info-title {
    color: #CCCCCC;
    
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#project-details #other-info #basic-info #project-title {
    font-family: medieval;
    font-size: 3rem;
    
    margin-bottom: 0.5rem;
}

#project-details #other-info #basic-info #project-description {
    font-size: smaller;
    
    margin: 0;
    
    width: 100%;
    max-height: 20ch;
    
    overflow-y: auto;
}

#project-details #other-info #basic-info #project-source {
    font-size: smaller;
    color: white;
}

#project-details #other-info #basic-info #project-stacks {
    display: flex;    
    flex-flow: row wrap;
    gap: 0.25rem;
    
    height: max-content;
}

#project-details #other-info #basic-info #project-stacks label {
    background: rgb(231,229,221);
    background: -webkit-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: -moz-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: linear-gradient(to top right, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    
    border: 0.07rem solid #999999;
    border-radius: 2rem;
    
    padding: 0.5rem;
}

#project-details #other-info #project-screenshots {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    
    width: 90%;
    height: 40%;
    
    overflow-y: auto;
}

#project-details #other-info #project-screenshots img {
    margin-bottom: 0.5rem;
    
    width: 80%;
    height: auto;
}

#project-details #close {
    position: absolute;
    
    top: 0.2rem;
    left: 0.2rem;
    z-index: 1;

    font-size: 2.5rem;
    
    color: white;

    cursor: pointer;
}

/*
    FOOTER
*/

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 100dvw;
    height: 100dvh;

    background-image: url("../img/footer_background.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
}

footer #footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    font-size: 1rem;
    color: white;

    text-align: center;

    width: 100%;
    height: 100%;
}

footer #footer-content #footer-social-networks {
    display: flex;
    gap: 3rem;
}

footer #footer-content #footer-social-networks .footer-social-network {
    width: 3rem;
    aspect-ratio: 1;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;

    font-size: 1.5rem;
    color: white;

    padding: 0.2rem;

    cursor: pointer;
}

footer #footer-content #footer-social-networks .footer-social-network:hover {
    background-color: rgba(176, 176, 176, 0.3);
}

footer #footer-content > p {
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
}

footer #footer-content > img { 
    width: 20rem;
    height: auto;
}

footer #footer-content > a {
    text-decoration: none;
    color:#00004d;
}

footer #copyright {
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    background-color: black;

    font-size: 1rem;
    color: white;
    text-align: center;
    
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    
    width: 100%;
}

footer #copyright a {
    text-decoration: none;
    color: white;
}

/*
    MAIN MENU
*/

#main-menu {
    display: flex;
    justify-content: center;
}

#main-menu #menu-options {
    display: flex;
    gap: 2.5rem;

    font-family: medieval;
    font-size: 1rem;
    color: white;
    
    backdrop-filter: blur(2px);
    
    list-style: none;
    padding: 0;
    padding-left: 0.5rem;
}

#main-menu #menu-options li {
    cursor: pointer;
}

#main-menu #menu-options li a {
    text-decoration: none;
    color: inherit;
}

#main-menu #menu-options li:hover {
    color: #AAAAAA;
}

#side-menu {
    display: none;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    top: 0;
    right: calc(-1 * var(--menu-width));
    
    border-left: 0.08rem solid white;
    
    background-color: #1a1a1a;
    
    width: var(--menu-width);
    height: 100%;
    
    transition: right 0.5s;
}

#side-menu #side-menu-options {
    font-family: medieval;
    font-size: 1.5rem;
    
    backdrop-filter: blur(2px);
    
    list-style: none;
    padding: 0;
    padding-left: 0.5rem;
}

#side-menu #side-menu-options li {
    position: relative;
    top: 0;
    
    margin-bottom: 0.3rem;

    cursor: pointer;
}

#side-menu #side-menu-options li a {
    color: white;
    text-decoration: none;
}

#side-menu #side-menu-options li:hover {
    color: #AAAAAA;
}

/*
    EFFECTS
*/

.typing-effect {
    letter-spacing: 0.2rem;
}

.typing-cursor {
    font-family: arial;
    color: #666666;
}

.typing-cursor.animate {
    animation: typingCursor 0.7s linear infinite;
}

.fadding-bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3rem;

    background: linear-gradient(to bottom, rgba(var(--body-background-color), 0) 0%, rgba(var(--body-background-color), 1) 100%);
}

.fadding-top {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 3rem;

    background: linear-gradient(to top, rgba(var(--body-background-color), 0) 0%, rgba(var(--body-background-color), 1) 100%);
}

@media only screen and (max-width: 768px) {
    header {
        justify-content: flex-end;
    }

    body main {
        gap: 10rem;
    }

    .section {
        gap: 6rem;
    }

    header #header-logo {
        pointer-events: all;
    }

    #main-menu {
        display: none;
    }

    #side-menu {
        display: flex;
    }

    .section .section-title {
        font-size: 1.5rem;
    }

    #my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 1rem;
    }

    #my-info #picture-wrapper {
        order: 1;

        width: 15rem;
    }

    #my-info #description {
        order: 2;

        width: 80%;
    }

    #my-info #social-networks {
        order: 3;

        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #about-me .section-content {
        flex-direction: column;
        gap: 0.3rem;
    }

    #about-me #info {
        width: 80%;
    }

    #about-me #info #my-bio {
        font-size: 0.9rem;
    }

    #skills .section-content #skills-grid {
        display: grid;
        grid-template-columns: 12rem 12rem;
    }
    
    #stacks .section-content #stacks-list {
        grid-template-columns: 10rem 10rem;

        width: 100%;
        height: 100%;
    }

    #stacks .section-content #stacks-list .stack {
        border-radius: 1rem;
        padding: 1rem 0.5rem;
    }

    #stacks .section-content #stacks-list .stack .stack-info {
        font-size: 0.7rem;
        transition: none;
        opacity: 1;
    }

    #projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        
        height: 100%;
        width: 100%;
    }

    #project-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #project-details #visual-info {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 60%;
    }
    
    #project-details #visual-info #logo {
        width: 90%;
        height: auto;
    }
    
    #project-details #other-info {
        justify-content: unset;
        
        width: 90%;
        height: 60%;
    }

    #project-details #other-info #basic-info {
        font-size: 1rem;
    }

    #project-details #other-info #basic-info #project-stacks label {
        font-size: 0.75rem;
    }

    #project-details #other-info #project-screenshots {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        
        width: 90%;
        height: 10rem;
        
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    #project-details #other-info #project-screenshots img {
        width: auto;
        height: 100%;

        margin-bottom: 0;
    }
    
    footer #footer-content {
        font-size: 1.3rem;
    
        width: 80%;
    
        padding: 3rem;
    }
    
    footer #footer-content > p {
        width: 90%;
        font-size: 1rem;
    
        text-align: center;
    }
    
    footer #footer-content > img { 
        width: 9rem;
        height: auto;
    }
    
    footer #copyright {
    
        font-size: 1rem;
        
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}

@media only screen and (min-width: 1920px)  {
    :root {
        --menu-width: 20%;
    }

    #picture-wrapper {
        width: 35rem;
    }

    .social-network {
        width: 5rem;
    }

    #my-info #description {
        width: 35%;
    }
    
    #my-info #description #name {
        font-size: 5rem;
    }
    
    #my-info #description #resume {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main-menu #menu-options {
        font-size: 3.5rem;
        backdrop-filter: blur(2px);
        padding-left: 1rem;
    }

    #about-me #info #my-bio {
        font-size: 1.6rem;
    }

    #skills .section-content #skills-grid {
        display: grid;
        grid-template-columns: 20rem 20rem 20rem;
    }

    #skills .section-content #skills-grid .skill i {
        font-size: 2.5rem;
    }
    
    #skills .section-content #skills-grid .skill label {
        font-size: 1.5rem;
    }

    footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 100dvw;
        height: 100dvh;
    
        background-image: url("../img/footer_background.jpg");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    footer #footer-content {
        font-size: 1.5rem;
    
        padding: 10rem 10rem;
        text-align: center;
    }
    
    footer #footer-content > p {
        width: 80%;
    
        text-align: justify;
    }
    
    footer #footer-content > img { 
        width: 7rem;
        height: auto;
    }
    
    footer #footer-content > a {
        text-decoration: none;
        color:#00004d;
    }
    
    footer #copyright {
        font-size: 1.5rem;
        
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
    
    footer #copyright a {
        text-decoration: none;
        color: white;
    }
}
