@keyframes typingCursor {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes showInfoFromLeft {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes showInfoFromRight {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes expandLanguageInfo {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 80%;
        height: 40%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growFrame {
    from {
        flex: 1;
    }
    to {
        flex: 4;
    }
}

@keyframes coinClicked {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}