body {
    margin: 0px;
    min-height: 100%;
    
    background-color: white;
    opacity: 0;
    
    overflow-x: hidden;
}

body .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 100vh;
    
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.section .section-title {
    font-family: medieval;
    font-size: 2rem;
    text-align: center;
    
    width: 100%;
}

.section .section-content {
    width: 100%;
    height: 100%;
}

#my-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-image: url("/public/img/description_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 1rem;
    
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
}

#my-info #description {
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

#my-info #description #name {
    margin: 0px;
    
    font-family: medieval;
    font-size: 1.5rem;
    color: white;
}

#my-info #description #resume {
    margin-top: 0.5rem;
    
    font-family: arial;
    font-size: 0.2rem;
    color: white;
    word-wrap: break-word;
}

#my-info #description #get-started {
    min-width: 50%;
    
    margin-bottom: 1rem;
}

#my-info #social-networks {
    display: flex;
    flex-direction: column;
}

.social-network {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 50%;
    border: none;
    
    width: 1.5rem;
    height: 1.5rem;
    
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.linkedin-network {
    background-image: url("/public/img/linkedin_icon.jpeg");
}

.github-network {
    background-color: black;
    background-image: url("/public/img/github_icon.png");
}

.instagram-network {
    background-image: url("/public/img/instagram_icon.png");
}

#photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50vw;
    height: 80vh;
}

#photo-wrapper img {
    width: 90%;
    height: auto;
}

/*
    ABOUT ME SECTION
*/

#about-me {
}

#about-me .section-content {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#about-me #my-pictures-grid {
    display: flex;
    
    width: 100%;
    height: 40%;
}

#about-me #my-pictures-grid #aux-pics {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-image: url("/public/img/picture-grid-background.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    width: 100%;
}

#about-me #my-pictures-grid #aux-pics .grid-item:first-child {
    background-image: url("/public/img/picture-grid-1.jpg");
}

#about-me #my-pictures-grid #aux-pics .grid-item:last-child {
    background-image: url("/public/img/picture-grid-2.jpg");
}

.grid-item {
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item-empty {
    width: 100%;
    height: 100%;
    
    background-color: transparent;
}

#about-me #my-pictures-grid img {
    width: auto;
    height: 100%;
}

#about-me #info {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 60%;
}

#about-me #info #my-bio {
    font-size: 0.5rem;
    text-align: justify;
    
    width: 60%;
}

#about-me #info #esthetics-images {
    position: relative;
    
    height: 100%;
}

#about-me #info #esthetics-images #flowers {
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: auto;
    height: 30%;
}


/*
    SKILLS SECTION
*/

#skills {
    background: white;
    
    border: 1.25rem solid black;
    
    border-image: url("/public/img/skills_border.png");
    border-image-slice: 10%;
    border-image-repeat: stretch;
    
    width: calc(100vw - 2.5rem);
    height: calc(100vh - 2.5rem);
}

#skills .section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

#skills .section-content > img {
    position: relative;
    
    width: auto;
    height: 40%;
    
    opacity: 0;
}

#skills .section-content > div {
    position: relative;
    width: 70%;
    min-height: 40%;
    
    opacity: 0;
}

#skills .section-content > div p {
    font-size: 0.5rem;
    word-wrap: break-word;
}

#skills .section-content > div ul {
    font-size: 0.6rem;
    
    min-height: 100%;
    
    padding: 0;
    background: orange;
}

#skills .section-content > div ul li {
    display: flex;
    align-items: center;
    
    list-style: none;
    word-wrap: break-word;
    
    border-left: 0.3rem solid black;
    
    margin-bottom: 0.2rem;
}

#skills .section-content > div ul li img {
    width: 1.5rem;
    height: 1.5rem;
    
    margin-right: 1rem;
}

#skills .section-content > div ul li p {
    width: 60%;
}

/*
    LANGUAGES SECTION
*/

#languages {
    background-color: #272614;
}

#languages .section-title {
    color: white;
}

#languages .section-content {
    display: flex;
}

#languages .section-content #section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 50vw;
    
    background-image: linear-gradient(to right, transparent 0%, #272614 100%), url("/public/img/languages_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#languages .section-content #languages-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 50%;
    height: 100%;
    
    padding: 1rem;
}

#language-description {
    height: 40%;
    width: 80%;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    font-size: 0.5rem;
    color: white;
    
    border: 1px solid white;
    
    animation: expandLanguageInfo 1s linear forwards;
}

#languages-repr {
    position: relative;
    
    width: 100%;
    height: 50%;
}


.languages-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
    width: 20%;
    height: auto;
}

.language-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    
    width: 20%;
    height: auto;

    background-color: transparent;
    
    animation: rotate 4s ease infinite;
}

.language-orbit.reverse {
    animation: rotate 4s ease reverse infinite;
}

.language-orbit .orbit-1 {
    position: relative;
    left: -50%;
    
    width: 50%;
    height: auto;
}

.language-orbit .orbit-2 {
    position: relative;
    left: -100%;
    
    width: 50%;
    height: auto;
}

.language-orbit .orbit-3 {
    position: relative;
    left: -150%;
    
    width: 50%;
    height: auto;
}

/*
    PROJECTS SECTION
*/

#projects {
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url("/public/img/projects_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: 2rem;
    
    height: calc(100vh - 4rem);
}

#projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    
    height: 80%;
    width: 100%;
    
    background-color: white;
    border: 0.3rem solid #DDDDDD
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .project-logo {
    position: relative;
    
    width: 80%;
    height: 80%;
}

.project .project-logo img {
    position: absolute;
    
    z-index: 0;
    
    width: 100%;
    height: 100%;
}

.project .project-logo .project-info-link {
    position: absolute;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    z-index: 2;
    
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
    
    opacity: 0;
}

.project .project-logo .project-info-link button {
    font-size: 0.2rem;
    color: white;
    
    background-color: transparent;
    border: 0.1rem solid white;
    border-radius: 1rem;
}

.project:after {
    position: absolute;
    content: "";
    
    z-index: 1;
    
    width: 100%;
    height: 100%;
    background: url("/public/img/project_moldure.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.project:hover .project-info-link {
    opacity: 1;
}

/*
    PROJECT DETAILS
*/

#project-details {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 10;
    
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.7);
}

#project-details #visual-info {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
}

#project-details #visual-info #logo {
    width: 90%;
    height: auto;
}

#project-details #other-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 50%;
    height: 100%;
    
    font-size: 0.5rem;
    color: white;
}

#project-details #other-info #basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 20%;
    width: 100%;
}

#project-details #other-info #basic-info #project-title {
    font-size: larger;
}

#project-details #other-info #basic-info #project-description {
    font-size: smaller;
    color: #CCCCCC;
}

#project-details #other-info #basic-info #project-source {
    color: white;
    text-decoration: white;
}

#project-details #other-info #basic-info #project-stacks {
    display: flex;    
    flex-flow: row wrap;
    
    margin-top: 1rem;
}

#project-details #other-info #basic-info #project-stacks label {
    background: rgb(231,229,221);
    background: -webkit-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: -moz-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: -o-linear-gradient(bottom left, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    background: linear-gradient(to top right, rgba(231,229,221,1) 0%, rgba(254,255,252,1) 100%);
    
    font-size: smaller;
    color: black;
    
    border: 0.1rem solid #999999;
    border-radius: 1rem;
    
    padding: 0.2rem;
}

#project-details #other-info #project-screenshots {
    width: 90%;
    height: 70%;
    
    overflow-y: auto;
}

#project-details #other-info #project-screenshots img {
    margin-bottom: 0.5rem;
    
    width: 100%;
    height: auto;
}

#project-details #close {
    position: absolute;
    
    top: 0.1rem;
    right: 0.1rem;
    z-index: 1;
    
    color: white;
}

/*
    FOOTER
*/

footer {
    position: relative;
    
    width: 100vw;
    height: 100vh;
    
    background-color: black;
}

footer #top-img {
    position: absolute;
    
    left: 0.3rem;
    top: 0.3rem;
    
    width: 30%;
    height: auto;
}

footer #left-bottom-img {
    position: absolute;
    
    left: 0.3rem;
    bottom: 0.1rem;
    z-index: 1;
    
    width: 10%;
    height: auto;
}

footer #left-bottom-img:hover {
    filter: brightness(50%);
}

footer #right-bottom-img {
    position: absolute;
    
    right: 0.3rem;
    bottom: 0.1rem;
    z-index: 1;
    
    width: 30%;
    height: auto;
}

footer #footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: 2;
    
    background-image: url("/public/img/footer_content_background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    font-size: 0.5rem;
    
    width: 60%;
    height: 80%;
}

footer #footer-content .content-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
}

footer #bottom-img {
    position: absolute;
    
    left: 0;
    bottom: 0;
    
    width: 100%;
    height: 5%;
}

@keyframes showInfoFromLeft {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes showInfoFromRight {
    from {
        opacity: 0;
        right: -100px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes expandLanguageInfo {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 80%;
        height: 40%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growFrame {
    from {
        flex: 1;
    }
    to {
        flex: 4;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 40px;
    }
}